@media (pointer: coarse) and (hover: none) {
  header {
    // background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
    //   no-repeat center scroll;
    // background: url("https://b4e43405421613516abe-db9a2604f743d1e570e8010ebf7b7aa5.ssl.cf1.rackcdn.com/TODDSPOTH-HOUSTONPORTRAITPHOTOGRAPHER-31.JPG") black
    //   no-repeat center scroll;
    background: url("https://static2.yan.vn/YanNews/2167221/202012/johnny-dang-tu-tho-sua-dong-ho-cho-troi-thanh-vua-kim-hoan-hollywood-75c39773.jpg") black
      no-repeat center scroll;
      background-size: cover;
    video {
      display: none;
    }
    .promo {
      display: none;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  header {
    .promo {
      display: block;
      background-color: black;
    }
  }
}

.menu-2 {
  @media only screen and (max-width: 768px) {
    #search {
      margin-right: -15px;

    }
  }
}

.section-2 {
  @media only screen and (max-width: 768px) {
    .button {
      padding-top: 22vmin;
      button {
        height: 50px;
      }
    }
  }
}
.section-4 {
  @media only screen and (max-width: 768px) {
    .img-look {
      background: url("../assets/IMG_9288_540x.PNG") no-repeat center;
      margin: 0 auto;
      width: 50%;
      height: 70vmin;
      background-size: 110%;
    }
    .text-look {
      .card {
        img {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}

.section-5 {
  @media only screen and (max-width: 768px) {
    .cover-customs {
      background: url("../assets/ezgif.com-gif-maker_8.gif") no-repeat;
      background-size: 240%;
      height: 550px;
      background-position-x: -15rem;
      position: relative;
    }
    .customs-text {
      // width: 1rem;
      height: 100%;
      padding-top: 50vmin;
      .button {
        // width: 10rem;
      }
    }
  }
}
.section-7 {
  @media only screen and (max-width: 768px) {
    .text-showroom {
      height: 30rem;

      button {
        height: 45px;
      }
    }
    .cover {
      height: 30rem;
    }
  }
}
.section-8 {
  @media only screen and (max-width: 768px) {
    .cover {
      height: 28rem;
      background-size: 200%;
      background-position-x: -13rem;
      // background-repeat: no-repeat;
      // background-size: cover;
      .content {
        padding-top: 30vmin;
      }
    }
  }
}

.section-10 {
  @media only screen and (max-width: 768px) {
    .cover-email {
      height: 15rem;

      .content-email {
        padding-top: 0vmin;
        .input-group {
          margin-top: 30px;
          height: 38px;
        }
      }
    }
  }
}
